@page "/" 
@* Since page attr is defined as / AKA root, this page will load first *@
@rendermode InteractiveServer

<PageTitle>Main</PageTitle> @* This sets the title attribute of the page, that is shown in the browser tab*@

<div class="box">
    <h2>Recent</h2>
    </div>
