@page "/Main" 
@* Since page attr is defined as / AKA root, this page will load first *@
@rendermode InteractiveServer

<PageTitle>Main</PageTitle> @* This sets the title attribute of the page, that is shown in the browser tab*@

<div class="box">
    <h2>@SaveLoad.DataLoading.Load(Sign_in.loggedUser).User</h2>
    <h2>@SaveLoad.DataLoading.Load(Sign_in.loggedUser).Pass</h2>
    </div>
