

@page "/options"
@attribute [StreamRendering] 
@rendermode InteractiveServer

<PageTitle>Options</PageTitle>

<h1>Options</h1>

<div class="optbox">
<p>Reset data</p>

    <NavLink href="/main" class="button" style="background-color:red" @onclick="ResetAccData">Reset data</NavLink>
</div>
    <div class="optbox">
    <p>Delete profile</p>

    <NavLink href="/register" class="button" style="background-color:red" @onclick="RemoveAccount">Remove Profile</NavLink>
</div>


@code {

    public bool hasSaved = false;
    string userFolder = @AppDomain.CurrentDomain.BaseDirectory + "\\Users\\" + Sign_in.loggedUser;
    private void RemoveAccount()
    {
        Directory.Delete(userFolder, true);
		Sign_in.loggedUser = null;
    }

    private void ResetAccData()
    {
		{
	        
            SaveLoad.DataSaving.Save(Sign_in.loggedUser, SaveLoad.DataLoading.Load(Sign_in.loggedUser).Pass);
            SaveLoad.StorageSaving.Save(Sign_in.loggedUser, "");

		}
    }

    }






