@page "/options"
@attribute [StreamRendering] 

<PageTitle>Options</PageTitle>

<h1>Options</h1>

<p>Delete profile</p>

<button class="button" style="background-color:red" @onclick="Remove">Remove Profile</button>

@code {
    private void Remove()
    {
        
    }
}

