@page "/profile"

<PageTitle>Profile</PageTitle>
<h1>Welcome to your profile, @username</h1>
<input type="text" placeholder="Username" @bind-value="username" />
<input @bind-value="password" type="password" placeholder="Password" />
<input @bind="bio" type="text" placeholder="Bio" />

<button @onclick="Save">Save</button>

	

@code {
	//This is defined by the user.
	public static string? username;
	public static string? password;
	public static string? bio;

	public static void Save()
	{
		SaveLoad.DataSaving.Save(username, password, bio);
	}

	public static string Load()
	{
		string output;
		output = SaveLoad.DataLoading.Load(username);
		return output;
	}

	}



	}
