@page "/Register"
@rendermode InteractiveServer
<code>THIS PAGE WILL CREATE AN ACCOUNT INTO ...bin\Debug\net8.0\Users\(given username)</code>
<div class="page">
    <div class="register">
        <h2>Register account</h2>
        <div class="formgroup">
            <label>Username</label> 
            <input @bind="username" class="form" /> 
        </div>

        <div class="formgroup">
            <label>Password</label>
			<input @bind="password" class="form" />	
			
        </div>

		<div class="formgroup">
			<label>Bio</label>
			<input @bind="bio" class="form" />

		</div>
        
        <button class="button" @onclick="Save">Register</button>
    </div>
</div>
@* Debug message. *@
@if(username != null)
{
	<h2>You have registered the user @Load().User</h2>
	<h2>The account password is @Load().Pass</h2>
}

@code {
	//This is defined by the user's input.
	public string? username;
	public string? password;
	public string? bio;

	//Save input from frontend and create user directory and files based off of it.
	private void Save()
	{
		SaveLoad.DataSaving.Save(username, password, bio);
	}

	//Load wanted fields of data from file -----> Pulls data based on the folder with the same name as the given username.
	private UserData Load()
	{
			//Try finding the folder named the same as the username string, finds the files inside.
			try{
			var output = SaveLoad.DataLoading.Load(username);
			return output;
			}
			//If it can't be found for some reason, create empty userdata.
			catch
			{
				return new UserData();
			}

	}

	}


