@page "/"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="page">
    <div class="login">
        <h2>Sign In</h2>
        <div class="formgroup">
            <label>Email Address</label> 
            <InputText @bind-Value="username" class="form" /> 
        </div>

        <div class="formgroup">
            <label>Password</label>
            <InputText @bind-Value="password" type="password" class="form" />
        </div>


        <button class="button" @onclick="@(() => HandleNavigation("main"))">Login</button>




    </div>
</div>

@code {

    private NavigationManager _navigation;

    public string? username;
    public string? password;
    public static string? loggedUser;

    public void HandleNavigation(string page)
    {


        var userHasAccess = CredidentalsManager.CredidentalsManager.isUserAccess(username, password);


        if (userHasAccess == true)
        {
            NavigationManager.NavigateTo($"/{page}");
            loggedUser = username;
        }
        else
        {
            NavigationManager.NavigateTo("/Register");
        }
    }
}
 