@page "/sign_in"

<div class="page">
    <div class="login">
        <h2>Sign In</h2>
        <div class="formgroup">
            <label>Email Address</label> 
            <InputText @bind-Value="loginMode.email" class="form" /> 
        </div>

        <div class="formgroup">
            <label>Password</label>
            <InputText @bind-Value="loginMode.password" type="password" class="form" />
        </div>

        <div class="formgroup checkbox">
            <InputCheckbox @bind-Value="loginMode.rememberme" />
            <label>Remember me</label>
        </div>

        <button type="submit" class="button">Login</button>
    </div>
</div>

@code {
    private LoginMode loginMode = new();

    public class LoginMode
    {
        public string email { get; set; }
        public string password { get; set; }
        public bool rememberme { get; set; }
    }
}
