@inherits LayoutComponentBase

<div>
    <main>
        <div>
            @if (Pages.Sign_in.loggedUser != null)
            {
                <NavLink href="main" Match="NavLinkMatch.All">
                    <span class="logo">Loki</span>
                </NavLink>
            } else
            {
                <NavLink href="" Match="NavLinkMatch.All">
                    <span class="logo">Loki</span>
                </NavLink>
                <div class="buttons">
                    <NavLink class="btn sign-in" href="">Sign In</NavLink>
                    <NavLink class="btn register" href="/register">Register</NavLink>
                </div>
            }
            
        </div>
        @if (Pages.Sign_in.loggedUser != null)
        {
            <div>
                <NavMenu /> @* Here we render the NavMenu.razor file *@
            </div>
        }

        <article>
            @*Here we render the current page we're on with @Body command. as default we try to find a page 
              that has definition for root, AKA @page "/", which can be found in Main.razor first line*@
            @Body
        </article>
        <footer>
            <!-- Footer content goes here -->
            <p>2025 Project Loki. All rights reserved. </p>
        </footer>
    </main>
</div>


