<nav class="navlist">
    <NavLink href="" Match="NavLinkMatch.All">
        <p class="nav-text">
            Main
        </p>
    </NavLink>
    <NavLink href="create">
        @* href value on navlink item is create, so it will try to find a razor page with attr @page "/create" *@
        <p class="nav-text">
            Create
        </p>
    </NavLink>
    <NavLink href="options">
        @* href value on navlink item is options, so it will try to find a razor page with attr @page "/options" *@
        <p class="nav-text">
            Options
        </p>
    </NavLink>
</nav>

