<header class="navbar-wrapper">
    <div class="logo">SleepTracker</div>

    <nav class="navlist">
        <NavLink href="main" Match="NavLinkMatch.All" class="nav-text"> Main </NavLink>
        <NavLink href="create" class="nav-text">Create</NavLink>
        <NavLink href="options" class="nav-text">Options</NavLink>
    </nav>

    <NavLink href="/register" class="profile-link">
        <img src="profile.webp" alt="Profile picture" class="profile-pic" />
    </NavLink>
</header>
