
<nav style="display:flex; background-color:lightblue">
    <NavLink href="" Match="NavLinkMatch.All">
        <p class="nav-text">
            Home
        </p>
    </NavLink>
    <NavLink href="weather">
        @* href value on navlink item is weather, so it will try to find a razor page with attr @page "/weather" *@
        <p class="nav-text">
            Weather
        </p>
    </NavLink>
</nav>

