<nav class="navlist">
    <NavLink href="" Match="NavLinkMatch.All">
        <span class="logo">Loki</span>
    </NavLink>
    <NavLink href="profile">
        @* href value on navlink item is profile, so it will try to find a razor page with attr @page "/profile" *@
        <img class="profile-pic" src="profile.webp" alt="Profile" />
    </NavLink>
    <NavLink href="" Match="NavLinkMatch.All">
        <p class="nav-text">
            Main
        </p>
    </NavLink>
    <NavLink href="create">
        @* href value on navlink item is create, so it will try to find a razor page with attr @page "/create" *@
        <p class="nav-text">
            Create
        </p>
    </NavLink>
    <NavLink href="options">
        @* href value on navlink item is options, so it will try to find a razor page with attr @page "/options" *@
        <p class="nav-text">
            Options
        </p>
    </NavLink>
    <NavLink href="sign_in">
        @* href value on navlink item is sign_in, so it will try to find a razor page with attr @page "/sign_in" *@
        <p class="nav-text">
            Sign In
        </p>
    </NavLink>
</nav>

